
<!DOCTYPE html>
<html>
<head>
</head>

<body>
   <div class="container-fulid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="navbar-nav">
                <a routerLink="/contacts">Contact</a>
                <a routerLink="/home">Home</a>
                <a routerLink="/forms">Form</a>
                <a routerLink="/curd">Curd Operations</a>

                <a routerLink="/employees">Employee List</a>
                <a routerLink="/add">Add Employee</a>
                <a routerLink="/loginform">LoginFormdetails</a>
             </div>
    </nav>
    
    
   </div> 
   <footer class="footer">
      <div class="container">All Rights @2020</div>
   </footer>
</body>

</html>



<router-outlet></router-outlet>