<h3>Update Employee</h3>
<div [hidden]="submitted" style="width:400px">
    <form (ngSubmit)="onSubmit">
        <div class="employee">
            <label>FristName</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName">
        </div>
        <div class="employee">
            <label>LastName</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName">
        </div>
        <div class="employee">
            <label>Email</label>
            <input type="text" class="form-control" id="emailid" [(ngModel)]="employee.emailid">
        </div>
        <button type="submit"class="btn btn-success">Submitted</button>
    </form>
</div>